body {
  --header-height: 3rem;
  --title-height: 6rem;
  --aside-width: min(300px, 100%);
  --padding: min(5%, 2rem);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 2rem;
  height: var(--header-height);
  color: var(--black);
  background: var(--pink);
  border-bottom: 1.5px solid var(--black);
}

header > h1,
header > button {
  position: absolute;
  left: var(--padding);
  margin: 0;
  width: fit-content;
  font-size: 2rem;
  white-space: nowrap;
  background: none;
}

header > h1 {
  cursor: default;
}

header > button {
  display: none;
}

header > input {
  padding: 0 .5rem;
  width: 50%;
  height: 2.2rem;
  font-size: 1.5rem;
  text-align: center;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 100vh;
}

nav {
  position: absolute;
  right: var(--padding);
  width: 80px;
  height: 2.2rem;
}

nav button {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  padding: calc(.2rem - 1px) 0;
  font-size: 1.8rem;
  line-height: 1;
  background: var(--pink);
  border: 1px solid var(--black);
  border-radius: 100vh;
}

#menu {
  position: absolute;
  top: 1.1rem;
  left: 0;
  right: 0;
  z-index: 2;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  border-radius: 0 0 .25rem .25rem;
  transition-duration: .3s;
  transition-property: height, visibility;
}

#menu.active {
  visibility: visible;
  height: 5.5rem;
}

#menu ul {
  margin: 0;
  padding: 1.3rem 0 .2rem 0;
  background: var(--darker-bg);
  border: 1px solid var(--black);
  border-radius: 0 0 .25rem .25rem;
  list-style-type: none;
}

#menu li {
  display: block;
  color: var(--text);
  text-align: center;
}

#menu li:last-child {
  color: var(--purple);
}

#menu a {
  line-height: 1.2;
  font-size: 1.4rem;
  padding: 0 .15rem;
}

aside {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  z-index: 5;
  padding: 0 var(--padding) 1rem var(--padding);
  width: var(--aside-width);
  background: var(--background);
  overflow: auto;
}

aside h2 {
  margin: 1rem 0;
  line-height: 1;
  font-size: 4rem;
  text-align: center;
}

aside .snake {
  color: var(--text);
}

#add {
  --radius: 35px;
  position: fixed;
  left: calc(75px - var(--radius));
  bottom: calc(75px - var(--radius));
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background: var(--add);
  border-radius: 50%;
  transition-property: left, bottom, width, height;
  transition-duration: .3s;
}

#add > button:not(:first-child) {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 1;
  background: var(--edit-border);
  border-radius: 50%;
  transition-property: visibility, transform;
  transition-duration: .3s;
  visibility: hidden;
  z-index: 6;
}

#add.photo > button:not(:first-child) {
  padding-top: .05em;
  font-size: 1.75rem;
}

#add.profile > button:not(:first-child) {
  padding-top: .11em;
  font-size: 2.25rem;
}

#add i {
  color: var(--darker-bg);
}

#add.active > button:not(:first-child) {
  visibility: visible;
}

#add.photo.active > button:nth-child(2) { transform: rotate(-75deg) translate(var(--radius)) rotate(75deg); }
#add.photo.active > button:nth-child(3) { transform: rotate(-45deg) translate(var(--radius)) rotate(47deg); }
#add.photo.active > button:nth-child(4) { transform: rotate(-15deg) translate(var(--radius)) rotate(15deg); }

#add.profile.active > button:nth-child(2) { transform: rotate(-105deg) translate(var(--radius)) rotate(+105deg); }
#add.profile.active > button:nth-child(3) { transform: rotate( -75deg) translate(var(--radius)) rotate( +75deg); }
#add.profile.active > button:nth-child(4) { transform: rotate( -45deg) translate(var(--radius)) rotate( +45deg); }
#add.profile.active > button:nth-child(5) { transform: rotate( -15deg) translate(var(--radius)) rotate( +15deg); }
#add.profile.active > button:nth-child(6) { transform: rotate( +15deg) translate(var(--radius)) rotate( -15deg); }

#add.active {
  --radius: 115px;
}

.plus {
  --radius: 35px;
  position: relative;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: var(--edit-border);
  outline: none !important;
  transition: transform .3s;
  z-index: 7;
}

.plus div {
  position: absolute;
  top: calc(var(--radius) - 1px);
  left: calc(var(--radius) - 20px);
  width: 40px;
  height: 2px;
  background: var(--darker-bg);
  border-radius: 100vh;
}

.plus div:first-child {
  transform: rotate(90deg);
}

#add.active .plus {
  transform: rotate(-135deg);
}

.scroller {
  position: fixed;
  top: var(--header-height);
  left: var(--aside-width);
  right: 0;
  bottom: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 8px;
  z-index: 1;
  height: calc(var(--title-height) - 10px);
  background: linear-gradient(to bottom, var(--background), 90%, transparent);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: var(--title-height) 3rem 3rem 3rem;
  color: var(--text);
}

main:not(#profiles) {
  gap: 1rem;
}

main img {
  height: 200px;
  border-radius: .25rem;
}

#profiles {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 150px);
}

#profiles > div {
  padding: 1rem;
  width: 150px;
  text-align: center;
  background: var(--darker-bg);
  border: 1px solid var(--black);
  border-radius: .5rem;
  transition: transform .3s;
  cursor: default;
}

#profiles .fa-solid {
  transition: color .3s;
}

#profiles .fa-brands {
  font-size: 3rem;
  color: var(--profile-brands);
  transition: transform 1s;
}

#profiles > div:is(:hover, :focus-within) {
  transform: scale(1.1);
}

#profiles > div:is(:hover, :focus-within) .fa-brands {
  transform: rotate(360deg);
}

#profiles > div:is(:hover, :focus-within) .fa-solid {
  color: var(--profile-brands);
}

#profiles h3 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.4;
  text-transform: lowercase;
}

.sort {
  display: flex;
  justify-content: space-evenly;
}

.sort button {
  position: relative;
  margin-top: 1rem;
  padding: .5rem 1rem 2rem 1rem;
  width: fit-content;
  background: none;
}

.sort p {
  position: absolute;
  top: 1.85rem;
  left: -1rem;
  right: -1rem;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
  text-align: center;
}

.sort button i {
  font-size: 1rem;
  color: var(--text);
  transform: rotate(90deg) rotateY(180deg);
  transition: transform .3s;
}

.sort button.active i {
  transform: rotate(-90deg) rotateY(180deg);
}

.status {
  display: flex;
  justify-content: space-around;
}

.status div {
  position: relative;
  margin-top: .2rem;
  height: 3.2rem;
}

.status p {
  position: absolute;
  top: 1.6rem;
  left: -1rem;
  right: -1rem;
  margin: 0;
  line-height: .8;
  font-size: 1.2rem;
  text-align: center;
}

.status i {
  font-size: 1rem;
  color: var(--text);
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  padding: .2rem;
  width: 50px;
  line-height: 1;
  font-size: 1.5rem;
  border-radius: 100vh;
}

.view {
  color: var(--black);
  background: var(--pink);
  border: 1px solid var(--edit-border);
}

.delete {
  color: var(--text);
  background: var(--darker-bg);
  border: 1px solid var(--text);
}

@media (max-width: 550px) {
  header > h1 {
    display: none;
  }
  header > button {
    display: initial;
  }
  aside {
    left: calc(var(--aside-width) * -1);
    background: linear-gradient(to right, var(--darker-bg), var(--background));
    border-right: 1px solid var(--black);
    transition: left .3s;
  }
  aside.active {
    left: 0;
  }
  .scroller {
    left: 0;
  }
  main {
    gap: 1rem;
    padding: 1rem;
  }
  main::before {
    display: none;
  }
}
