@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

:root {
  --white: #FFFFFE;
  --light-pink: #FEC7D7;
  --light-grey: #D9D4E7;
  --light-white: #F9F8FC;
  --light-black: #0E172C;
  --light-purple: #A786DF;
  --dark-purple: #B8C1EC;
  --dark-black: #121629;
  --dark-blue: #232946;
  --dark-pink: #EEBBC3;
  --text: var(--light-black);
  --background: var(--white);
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.618;
  font-family: 'Zen Loop', cursive;
  /* font-weight: bold; */
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

label,
input,
button {
  font-family: 'Zen Loop', cursive;
  color: var(--text);
  /* font-weight: bold; */
  display: block;
  width: 100%;
  border: none;
}

input::placeholder {
  color: var(--text);
}
