@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

:root {
  --white: #FFFFFE;
  --light-pink: #FEC7D7;
  --light-grey: #D9D4E7;
  --light-white: #F9F8FC;
  --light-black: #0E172C;
  --light-purple: #A786DF;
  --dark-purple: #B8C1EC;
  --dark-black: #121629;
  --dark-blue: #232946;
  --dark-pink: #EEBBC3;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--light-black);
    --white-text: var(--light-white);
    --background: var(--white);
    --darker-bg: var(--light-white);
    --description-words: var(--light-purple);
    --profile-brands: var(--light-black);
    --pink: var(--light-pink);
    --black: var(--light-black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--white);
    --white-text: var(--white);
    --background: var(--dark-blue);
    --darker-bg: var(--dark-black);
    --description-words: var(--dark-pink);
    --profile-brands: var(--dark-purple);
    --pink: var(--dark-pink);
    --black: var(--dark-black);
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

*:not(input):focus {
  outline: none;
}

*:not(input):focus-visible {
  outline: 1px dotted var(--black);
  outline-offset: .1rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.618;
  font-family: 'Zen Loop', cursive;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: normal; 
}

body {
  margin: 0;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

label,
input,
button {
  display: block;
  padding: 0;
  width: 100%;
  color: var(--black);
  font-family: 'Zen Loop', cursive;
  border: none;
}

input::placeholder {
  color: var(--black);
}

img {
  display: block;
}

i {
  color: var(--black);
}
