header {
  background: var(--pink);
  border-bottom: 1px solid var(--black);
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: var(--black);
}

header h1 {
  margin: 0;
  white-space: nowrap;
  font-size: 2rem;
}

header input {
  width: 50%;
  background: var(--white);
  font-size: 1.5rem;
  border: 1px solid var(--black);
  border-radius: 100vh;
  text-align: center;
  padding: .2rem;
}

header input::placeholder {
  text-align: center;
}

nav button {
  font-size: 1.5rem;
  background: var(--pink);
  border: 1px solid var(--black);
  border-radius: 100vh;
  padding: .2rem 1.5rem;
}

nav ul {
  list-style-type: none;
  display: none;
}

nav:focus-within ul {
  display: block;
}

main {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--text);
}

main .profile {
  width: 150px;
  text-align: center;
  padding: .8rem;
  background: var(--darker-bg);
  border: 1px solid var(--text);
  border-radius: 3px;
}

main .fa-brands {
  font-size: 3rem;
  color: var(--profile-brands);
}

main h3 {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0;
}

main .status {
  display: flex;
  justify-content: space-around;
}

main .status p {
  font-size: 1.2rem;
  line-height: .8;
  margin: 0;
}

main .status i {
  font-size: 1rem;
  color: var(--text);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

.buttons button {
  font-size: 1.5rem;
  line-height: 1;
  width: 50px;
  padding: .2rem;
}

.buttons .edit {
  color: var(--black);
  background: var(--pink);
  border: 1px solid var(--darker-bg);
  border-radius: 100vh;
}

.buttons .delete {
  color: var(--text);
  background: var(--darker-bg);
  border: 1px solid var(--text);
  border-radius: 100vh;
}
