#description {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4.3rem 3rem;
  background: var(--darker-bg);
}

#description::before {
  content: '';
  position: absolute;
  top: -4rem;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to top, var(--background), transparent);
}

#description h1,
#description ul {
  margin: 0;
  font-size: 6rem;
  line-height: 1.3;
}

#description p {
  font-size: 2.15rem;
  line-height: 1.2;
}

#description p:last-child {
  margin-bottom: 0;
}

#description p span {
  color: transparent;
  font-weight: bold;
  animation-name: bg;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes bg {
  from {
    background-color: var(--pink);
  }
  to {
    background-color: var(--purple);
  }
}

.left {
  width: 625px;
  text-align: right;
}

.right {
  color: var(--description-words);
  list-style-type: none;
}

.right li:last-child {
  margin-bottom: 0;
}

.typewrite-word span:first-child {
  color: var(--description-words);
}

.typewrite-word span:last-child {
  color: transparent;
  user-select: none;
}

.typewrite-words {
  color: var(--description-words);
}

.typewrite-words::after {
  content: '';
  margin-left: 3px;
  border-right: 3px solid var(--description-words);
  animation-name: caret-pulse;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes caret-pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: .9;
  }
}

@media (min-width: 1001px) {
  .typewrite-words {
    display: none;
  }
}

@media (max-width: 1000px) {
  .left {
    width: 100%;
    text-align: center;
  }
  .left h1 {
    line-height: 1;
  }
  .right {
    display: none;
  }
}

@media (max-width: 600px) {
  #description::before {
    background: var(--background);
  }
}
