#add.photo > button:not(:first-child) {
  padding-top: .05em;
  font-size: 1.75rem;
}

#add.photo.active > button:nth-child(2) { transform: rotate(-75deg) translate(var(--radius)) rotate(75deg); }
#add.photo.active > button:nth-child(3) { transform: rotate(-45deg) translate(var(--radius)) rotate(47deg); }
#add.photo.active > button:nth-child(4) { transform: rotate(-15deg) translate(var(--radius)) rotate(15deg); }

#gallery {
  gap: 1rem;
}

#gallery img {
  height: 160px;
  border-radius: .25rem;
  transition: transform .3s;
  cursor: pointer;
}

#gallery > img:is(:hover, :focus-within) {
  transform: scale(1.05);
}

#modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding: 3rem;
  top: 3rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: var(--black-transparent);
  backdrop-filter: blur(5px);
}

#modal .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.content .sliders {
  display: block;
  width: 20%;
}

.content .sliders .slider {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  accent-color: var(--pink);
}

.sliders .slider p {
  margin: 0;
}

.sliders .slider > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.sliders .slider > div input {
  margin: 0 .5rem 0 0;
}

.sliders .slider > div p {
  width: 1rem;
  color: var(--white);
}

#image {
  width: 50%;
}

#canvas {
  visibility: hidden;
  position: fixed;
}

#caption {
  display: block;
  width: 20%;
  margin: 0;
  font-size: 2rem;
  text-align: left;
  color: var(--white);
}

#image,
#caption,
.sliders {
  animation-name: zoom;
  animation-duration: 0.3s;
}

#modal .close {
  position: absolute;
  top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  transition: 0.3s;
}

#modal #savePhoto {
  right: 6rem;
}

#modal #resetAll {
  right: 3rem;
}

#modal .close:hover,
#modal .close:focus {
  color: var(--pink);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  #modal .content {
    flex-direction: column;
  }
  .content .sliders {
    width: 90%;
  }
  #image {
    width: 90%;
  }
  #caption {
    width: 90%;
    font-size: 1.5rem;
  }
  #modal .close {
    top: 0;
  }
}
