#add {
  --radius: 35px;
  position: fixed;
  left: calc(75px - var(--radius));
  bottom: calc(75px - var(--radius));
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background: var(--add);
  border-radius: 50%;
  transition-duration: .3s;
  transition-property: left, bottom, width, height;
}

#add > button:not(:first-child) {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 1;
  background: var(--edit-border);
  border-radius: 50%;
  transition-duration: .3s;
  transition-property: visibility, transform;
  visibility: hidden;
  z-index: 6;
}

#add.active {
  --radius: 115px;
}

#add.active > button:not(:first-child) {
  visibility: visible;
}

#add i {
  color: var(--darker-bg);
}

.plus {
  --radius: 35px;
  position: relative;
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: var(--edit-border);
  outline: none !important;
  transition: transform .3s;
  z-index: 7;
}

.plus span {
  display: block;
  position: absolute;
  top: calc(var(--radius) - 1px);
  left: calc(var(--radius) - 20px);
  width: 40px;
  height: 2px;
  background: var(--darker-bg);
  border-radius: 100vh;
}

.plus span:first-child {
  transform: rotate(90deg);
}

#add.active .plus {
  transform: rotate(-135deg);
}

#add.profile > button:not(:first-child) {
  padding-top: .11em;
  font-size: 2.25rem;
}

#add.profile.active > button:nth-child(2) { transform: rotate(-105deg) translate(var(--radius)) rotate(+105deg); }
#add.profile.active > button:nth-child(3) { transform: rotate( -75deg) translate(var(--radius)) rotate( +75deg); }
#add.profile.active > button:nth-child(4) { transform: rotate( -45deg) translate(var(--radius)) rotate( +45deg); }
#add.profile.active > button:nth-child(5) { transform: rotate( -15deg) translate(var(--radius)) rotate( +15deg); }
#add.profile.active > button:nth-child(6) { transform: rotate( +15deg) translate(var(--radius)) rotate( -15deg); }

#profiles {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 150px);
}

#profiles > div {
  padding: 1.5rem;
  width: 170px;
  text-align: center;
  background: var(--darker-bg);
  border: 1px solid var(--black);
  border-radius: .5rem;
  transition: transform .3s;
  cursor: default;
}

#profiles .fa-solid {
  transition: color .3s;
}

#profiles .fa-brands {
  font-size: 3rem;
  color: var(--profile-brands);
  transition: transform 1s;
}

#profiles > div:is(:hover, :focus-within) {
  transform: scale(1.1);
}

#profiles > div:is(:hover, :focus-within) .fa-brands {
  transform: rotate(360deg);
}

#profiles > div:is(:hover, :focus-within) .fa-solid {
  color: var(--profile-brands);
}

#profiles h3 {
  margin: .25rem 0 0 0;
  font-size: 1.8rem;
  line-height: 1.4;
}

.status {
  display: flex;
  justify-content: space-around;
}

.status div {
  position: relative;
  margin-top: .2rem;
  height: 3.2rem;
}

.status p {
  position: absolute;
  top: 1.6rem;
  left: -1rem;
  right: -1rem;
  margin: 0;
  line-height: .8;
  font-size: 1.2rem;
  text-align: center;
}

.status i {
  font-size: 1rem;
  color: var(--text);
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  padding: .2rem;
  width: 50px;
  line-height: 1;
  font-size: 1.5rem;
  border-radius: 100vh;
}

.view {
  color: var(--black);
  background: var(--pink);
  border: 1px solid var(--edit-border);
}

.delete {
  color: var(--text);
  background: var(--darker-bg);
  border: 1px solid var(--text);
}
