<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="an aggregator-type app for photos stored in various photo-sharing platforms">

    <title>M-PIC | page not found</title>
    <link rel="icon" href="/public/favicons/light.svg" id="favicon">

    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/404.css">
    <script src="/public/js/global.js" defer></script>
  </head>

  <body>
    <h1>404</h1>
    <h2>sorry, page not found</h2>
    <a href="/">back to home page</a>
  </body>
</html>
