<component name="Head">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="an aggregator-type app for photos stored in various photo-sharing platforms">

    <title>M-PIC | {{$title}}</title>
    <link rel="icon" href="/public/favicons/light.svg" id="favicon">

    <for itr="style" arr="['global', ...$styles]">
      <link rel="stylesheet" href="/public/css/{{$style}}.css">
    </for>

    <script src="https://kit.fontawesome.com/c225e559b0.js" crossorigin="anonymous" defer></script>
    <for itr="script" arr="['global', ...$scripts]">
      <script src="/public/js/{{$script}}.js" defer></script>
    </for>
  </head>
</component>
