<component name="MyPhotos">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my photos'"
      styles="['my', 'my-photos', 'snake']"
      scripts="['my']"
    >
    <body>
      <Header altPage="'my profiles'">
      <aside id="aside">
        <h2>my photos</h2>
        <FilterMenu>
        <SortMenu>
        <AddPhoto>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="gallery">
            <for itr="photo" arr="$photos">
              <img
                src="{{$photo.url}}"
                alt="{{$photo.platform}}"
                title="{{
                  $photo.post + ' ' +
                  $photo.tags + ' ' +
                  $photo.date + ' ' +
                  $photo.likes + ' ' +
                  $photo.shares
                }}"
              >
            </for>
          </main>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="AddPhoto">
  <div id="add" class="photo">
    <button type="button" class="plus" onclick="onClickBtn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button"><i class="fa-solid fa-camera"></i></button>
    <button type="button"><i class="fa-solid fa-upload"></i></button>
    <button type="button"><i class="fa-solid fa-link"></i></button>
  </div>
</component>

<component name="SortMenu">
  <div class="sort">
    <button type="button" id="sort-date" onclick="onClickSortBtn('sort-date')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>date</span>
    </button>
    <button type="button" id="sort-likes" onclick="onClickSortBtn('sort-likes')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>likes</span>
    </button>
    <button type="button" id="sort-shares" onclick="onClickSortBtn('sort-shares')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>shares</span>
    </button>
  </div>
</component>
