<component name="MyProfiles">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my profiles'"
      styles="['my', 'my-profiles', 'snake']"
      scripts="['my', 'my-profiles']"
    >
    <body>
      <Header altPage="'my photos'">
      <aside id="aside">
        <h2>my profiles</h2>
        <FilterMenu>
        <AddProfile>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="profiles"></main>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="AddProfile">
  <div id="add" class="profile">
    <button type="button" class="plus" onclick="onClickBtn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button"><i class="fa-brands fa-facebook"></i></button>
    <button type="button"><i class="fa-brands fa-instagram"></i></button>
    <button type="button"><i class="fa-brands fa-twitter"></i></button>
    <button type="button"><i class="fa-brands fa-reddit-alien"></i></button>
    <button type="button"><i class="fa-brands fa-unsplash"></i></button>
  </div>
</component>
