<component name="MyProfiles">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my profiles'"
      styles="['my', 'my-profiles', 'snake']"
      scripts="['my']"
    >
    <body>
      <Header altPage="'my photos'">
      <aside id="aside">
        <h2>my profiles</h2>
        <FilterMenu>
        <AddProfile>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="profiles">
            <for itr="profile" arr="$profiles">
              <Profile
                icon="$profile.icon"
                user="$profile.user"
                photos="$profile.photos"
                followers="$profile.followers"
                shares="$profile.shares"
              >
            </for>
          </main>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="Profile">
  <div>
    <i class="fa-brands fa-{{$icon}}"></i>
    <h3>{{$user}}</h3>
    <div class="status">
      <div>
        <i class="fa-solid fa-image"></i>
        <p>{{$photos}}</p>
      </div>
      <div>
        <i class="fa-solid fa-user-large"></i>
        <p>{{$followers}}</p>
      </div>
      <div>
        <i class="fa-solid fa-heart"></i>
        <p>{{$shares}}</p>
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="view">view</button>
      <button type="button" class="delete">delete</button>
    </div>
  </div>
</component>

<component name="AddProfile">
  <div id="add" class="profile">
    <button type="button" class="plus" onclick="onClickBtn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button"><i class="fa-brands fa-facebook"></i></button>
    <button type="button"><i class="fa-brands fa-instagram"></i></button>
    <button type="button"><i class="fa-brands fa-twitter"></i></button>
    <button type="button"><i class="fa-brands fa-reddit-alien"></i></button>
    <button type="button"><i class="fa-brands fa-unsplash"></i></button>
  </div>
</component>
