<component name="MyProfiles">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my profiles'"
      styles="['my', 'my-profiles', 'snake']"
      scripts="['my']"
    >
    <body>
      <Header altPage="'my photos'">
      <aside id="aside">
        <h2>my profiles</h2>
        <FilterMenu>
        <AddProfile>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="profiles">
            <for itr="profile" arr="$profiles">
              <Profile
                profileId="$profile.profileId"
                platform="$profile.platform"
                username="$profile.username"
                url="$profile.url"
                photos="$profile.photos"
                followers="$profile.followers"
                likes="$profile.likes"
              >
            </for>
          </main>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="Profile">
  <div>
    <i class="fa-brands fa-{{$platform}}"></i>
    <h3>{{$username}}</h3>
    <div class="status">
      <div>
        <i class="fa-solid fa-image"></i>
        <p>{{$photos}}</p>
      </div>
      <div>
        <i class="fa-solid fa-user-large"></i>
        <p>{{$followers}}</p>
      </div>
      <div>
        <i class="fa-solid fa-heart"></i>
        <p>{{$likes}}</p>
      </div>
    </div>
    <div class="buttons">
      <button
        type="button"
        class="view"
        onclick="window.open('{{$url}}', '_blank')"
      >view</button>
      <button
        type="button"
        class="delete"
        onclick="if (confirm('are you sure?')) { call('DELETE', '/delete', { profile_id : '{{$profileId}}' }); location.reload(); }"
      >delete</button>
    </div>
  </div>
</component>

<component name="AddProfile">
  <div id="add" class="profile">
    <button type="button" class="plus" onclick="onClickBtn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button" onclick="location.href = '/authorize/facebook'"><i class="fa-brands fa-facebook"></i></button>
    <button title="this feature is not available" disabled><i class="fa-brands fa-instagram"></i></button>
    <button type="button" onclick="location.href = '/authorize/twitter'"><i class="fa-brands fa-twitter"></i></button>
    <button title="this feature is not available" disabled><i class="fa-brands fa-reddit-alien"></i></button>
    <button type="button" onclick="location.href = '/authorize/unsplash'"><i class="fa-brands fa-unsplash"></i></button>
  </div>
</component>
