<component name="MyPhotos">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my photos'"
      styles="['my', 'my-photos', 'snake']"
      scripts="['my', 'my-photos']"
    >
    <body>
      <Header altPage="'my profiles'">
      <aside id="aside">
        <h2>my photos</h2>
        <FilterMenu>
        <SortMenu metrics="['date', 'likes', 'shares']">
        <AddPhoto>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="gallery">
            <for itr="photo" arr="$photos">
              <img
                data-platform="{{$photo.platform}}"
                data-tags="{{$photo.tags.join(' ')}}"
                data-date="{{$photo.date}}"
                data-likes="{{$photo.likes}}"
                data-shares="{{$photo.shares}}"
                src="{{$photo.url}}"
                alt="{{$photo.platform}}"
                title="{{$photo.post}}"
              >
            </for>
          </main>
        </div>
      </div>
      <div id="modal">
        <span class="close" id="resetAll">&#10008;</span>
        <span class="close" id="savePhoto">&#10004;</span>
        <div class="content">
          <div class="sliders">
            <Slider effect="'brightness'" max="'500'" value="'100'">
            <Slider effect="'contrast'" max="'500'" value="'100'">
            <Slider effect="'blur'" max="'500'" value="'0'">
            <Slider effect="'opacity'" max="'100'" value="'100'">
            <Slider effect="'grayscale'" max="'100'" value="'0'">
            <Slider effect="'saturate'" max="'500'" value="'100'">
            <Slider effect="'sepia'" max="'100'" value="'0'">
            <Slider effect="'hue'" max="'360'" value="'0'">
            <Slider effect="'invert'" max="'100'" value="'0'">
          </div>
          <img id="image">
          <canvas id="canvas"></canvas>
          <div id="caption"></div>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="Slider">
  <div class="slider">
    <p class="effect">{{$effect}}</p>
    <div>
      <input
        id="{{$effect}}"
        type="range"
        min="0"
        max="{{$max}}"
        value="{{$value}}"
      >
      <p id="{{$effect}}Value">{{$value}}</p>
    </div>
  </div>
</component>

<component name="AddPhoto">
  <div id="add" class="photo">
    <button type="button" class="plus" onclick="toggleActiveOn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button"><i class="fa-solid fa-camera"></i></button>
    <button type="button"><i class="fa-solid fa-upload"></i></button>
    <button type="button"><i class="fa-solid fa-link"></i></button>
  </div>
</component>
