<component name="MyPhotos">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'my photos'"
      styles="['my', 'my-photos', 'snake']"
      scripts="['my', 'my-photos']"
    >
    <body>
      <Header altPage="'my profiles'">
      <aside id="aside">
        <h2>my photos</h2>
        <FilterMenu>
        <SortMenu>
        <AddPhoto>
      </aside>
      <div class="scroller">
        <div class="container">
          <main id="gallery">
            <for itr="photo" arr="$photos">
              <img
                data-platform="{{$photo.platform}}"
                data-tags="{{$photo.tags.join(' ')}}"
                data-date="{{$photo.date}}"
                data-likes="{{$photo.likes}}"
                data-shares="{{$photo.shares}}"
                src="{{$photo.url}}"
                alt="{{$photo.platform}}"
                title="{{$photo.post}}"
              >
            </for>
          </main>
        </div>
      </div>
      <div id="modal">
        <span class="close">&times;</span>
        <div class="content">
          <img id="image">
          <div id="caption"></div>
        </div>
      </div>
    </body>
  </html>
</component>

<component name="AddPhoto">
  <div id="add" class="photo">
    <button type="button" class="plus" onclick="onClickBtn('add')">
      <span></span>
      <span></span>
    </button>
    <button type="button"><i class="fa-solid fa-camera"></i></button>
    <button type="button"><i class="fa-solid fa-upload"></i></button>
    <button type="button"><i class="fa-solid fa-link"></i></button>
  </div>
</component>

<component name="SortMenu">
  <div class="sort">
    <button type="button" id="sort-date" onclick="onClickSortBtn('sort-date'); sortItems('date')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>date</span>
    </button>
    <button type="button" id="sort-likes" onclick="onClickSortBtn('sort-likes'); sortItems('likes')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>likes</span>
    </button>
    <button type="button" id="sort-shares" onclick="onClickSortBtn('sort-shares'); sortItems('shares')">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>shares</span>
    </button>
  </div>
</component>
