<component name="Header">
  <header>
    <h1 class="fixed">M-PIC</h1>
    <button type="button" class="fixed" onclick="onClickBtn('aside')">M-PIC</button>
    <input id="search" type="search" placeholder="search" onkeypress="sortImagesByTags(event)">
    <nav>
      <button type="button" class="fixed" onclick="onClickBtn('menu')">me</button>
      <div id="menu">
        <ul>
          <li><a href="{{$altPage.replace(/ /g, '-')}}">{{$altPage}}</a></li>
          <li><a href="sign-in" onclick="signOut()">sign out</a></li>
        </ul>
      </div>
    </nav>
  </header>
</component>

<component name="FilterMenu">
  <div class="snake">
    <for itr="platform" arr="['all', 'facebook', 'instagram', 'twitter', 'unsplash']">
      <div>
        <div></div>
        <div><button type="button" onclick="onClick(event)">{{$platform}}</button></div>
        <i class="fa-{{$platform === 'all' ? 'solid' : 'brands'}} fa-{{$platform === 'all' ? 'star' : $platform}}"></i>
        <i class="fa-{{$platform === 'all' ? 'solid' : 'brands'}} fa-{{$platform === 'all' ? 'star' : $platform}} fa-bounce"></i>
        <div></div>
      </div>
    </for>
  </div>
</component>
