<component name="TextField">
  <div>
    <div></div>
    <div>
      <input
        id="{{$id}}"
        type="{{$type}}"
        placeholder="{{$id.replace(/-/g, ' ')}}"
      >
    </div>
    <i class="fa-solid fa-{{$icon}}"></i>
    <i class="fa-solid fa-{{$icon}} fa-bounce"></i>
    <div></div>
  </div>
</component>

<component name="RememberMe">
  <div>
    <div></div>
    <div><label>remember me</label></div>
    <i
      tabindex="0"
      id="checkbox"
      class="fa-solid fa-square-xmark"
      onclick="toggleChecked()"
      onkeypress="toggleChecked(event)"
    ></i>
    <div></div>
  </div>
</component>

<component name="Image">
  <picture>
    <source srcset="/public/images/avif/{{$id}}.avif" type="image/avif">
    <source srcset="/public/images/webp/{{$id}}.webp" type="image/webp">
    <img src="/public/images/jpg/{{$id}}.jpg" alt="photo">
  </picture>
</component>

<component name="EmptyImage">
  <div>
    <div style="background: var(--{{$color}})"></div>
  </div>
</component>

<component name="Welcome">
  <section class="welcome">
    <div class="sign">
      <h1>M-PIC</h1>
      <form
        class="fixed"
        action="javascript:void(0)"
        onsubmit="{{
          $crtTitle.split(' ')[0] +
          $crtTitle.split(' ').slice(1).map(token => token.charAt(0).toUpperCase() + token.slice(1)).join('')
        }}()"
      >
        <h2>{{$crtTitle}}</h2>
        <div class="snake">
          <for itr="field" arr="$fields">
            <TextField
              id="$field.id"
              type="$field.type"
              icon="$field.icon"
            >
          </for>
          <RememberMe>
        </div>
        <button type="submit">let's go!</button>
        <a href="{{$altTitle.replace(/ /g, '-')}}">{{$altTitle}}</a>
      </form>
    </div>

    <div id="photos">
      <div tabindex="-1">
        <Image id="1">
        <Image id="2">
        <Image id="3">
        <EmptyImage color="'pink'">
        <Image id="4">
        <Image id="5">
        <Image id="6">
        <EmptyImage color="'black'">
        <Image id="7">
        <Image id="8">
        <Image id="9">
        <EmptyImage color="'white-text'">
      </div>
      <div tabindex="-1">
        <Image id="10">
        <Image id="11">
        <Image id="12">
        <EmptyImage color="'black'">
        <Image id="13">
        <Image id="14">
        <Image id="15">
        <EmptyImage color="'purple'">
        <Image id="16">
      </div>
      <div tabindex="-1">
        <Image id="17">
        <Image id="18">
        <Image id="19">
        <EmptyImage color="'grey'">
        <Image id="20">
        <Image id="21">
        <Image id="22">
        <EmptyImage color="'pink'">
        <Image id="23">
      </div>
    </div>
  </section>
</component>
