<component name="SignIn">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'sign in'"
      styles="['snake', 'welcome', 'description']"
      scripts="['sign', 'sign-in']"
    >
    <body>
      <Welcome
        crtTitle="'sign in'"
        altTitle="'sign up'"
        fields="[
          { id: 'email', type: 'email', icon: 'envelope' },
          { id: 'password', type: 'password', icon: 'lock' }
        ]"
      >
      <Description>
    </body>
  </html>
</component>

<component name="Description">
  <section id="description">
    <div class="left">
      <h1>M-PIC is about</h1>
      <h1 class="typewrite-words" data-words="memories, friendship, exploration, sharing, life">m</h1>
      <p>
        M-PIC is an aggregator-type app that helps you organize your photos from various photo-<span>sharing</span> platforms, such as facebook, twitter and unsplash
      </p>
      <p>
        it was built by two students from their passion for quality <span>photography</span>, tired of wasting time by manually organizing their photos and sharing them on so many social platforms
      </p>
      <p>
        M-PIC is the all-in-one platform you'll ever need in order to save the time needed to organize your photo collection, letting you create more wonderful <span>memories</span> with your loved ones
      </p>
    </div>
    <ul class="right">
      <li class="typewrite-word" data-word="memories"></li>
      <li class="typewrite-word" data-word="friendship"></li>
      <li class="typewrite-word" data-word="exploration"></li>
      <li class="typewrite-word" data-word="sharing"></li>
      <li class="typewrite-word" data-word="life"></li>
    </ul>
  </section>
</component>
