<component name="SignUp">
  <!DOCTYPE html>
  <html lang="en">
    <Head
      title="'sign up'"
      styles="['snake', 'welcome']"
      scripts="['sign', 'sign-up']"
    >
    <body>
      <Welcome
        crtTitle="'sign up'"
        altTitle="'sign in'"
        fields="[
          { id: 'email', type: 'email', icon: 'envelope' },
          { id: 'password', type: 'password', icon: 'lock' },
          { id: 'confirm-password', type: 'password', icon: 'lock' }
        ]"
      >
    </body>
  </html>
</component>
